body {
  background-color: #FFF9F0; /* Light ice cream color */
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.navie {
  background-color: #FFF5EB; /* Light ice cream color */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.logo {
  font-size: 2rem;
  color: #B83E52; /* Raspberry ripple color */
}

.num-res {
  font-size: 1.2rem;
  color: #666;
}

.sear {
  background-color: #FFF; /* Light ice cream color */
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.fil-butt {
  background-color: #B83E52; /* Raspberry ripple color */
  color: #FFF; /* White color */
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.mus-li {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mus-item {
  background-color: #FFF; /* Light ice cream color */
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  width: calc(33.333% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.alb-img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.sng-det {
  flex: 1;
  margin-right: 20px;
}

.sng-nm {
  font-size: 1.2rem;
  color: #666;
}

.artist-nm {
  font-size: 1rem;
  color: #999;
}

.ad-butt {
  background-color: #B83E52; /* Raspberry ripple color */
  color: #FFF; /* White color */
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  margin-top: 20px;
}

.box {
  background-color: #FFF; /* Light ice cream color */
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.box-title {
  font-size: 1.5rem;
  color: #B83E52; /* Raspberry ripple color */
  margin-bottom:10px
}

.rmv-btn-plyli-item-btn{
  background-color: #B83E52; /* Raspberry ripple color */
  color: #FFF; /* White color */
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  margin-top: 20px;
}